body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

h1 {
    font-size: 24px;
    text-align: center;
}

h2 {
    font-size: 18px;
    text-align: center;
}

h4{
    text-align: center;
}

label {
    display: block;
    margin-bottom: 1px;
    font-weight: bold;
}

input[type="text"], input[type="number"] {
    width: 95%; 
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rating {
    padding: 8px;
    text-align: center;
}

.rating input[type="radio"] {
    display: none; 
}

.rating label {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #ddd;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.rating input[type="radio"]:checked + label {
    background-color: #46AD44; 
    color: white;
}

.rating label:hover {
    background-color: #ccc; 
}

button {
    width: 100%;
    padding: 10px;
    background-color: #46AD44;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #FABD10;
    transition: 0.3s ease;
}

.form-section, .habilidades-section {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; 
    box-sizing: border-box; 
}

@media (min-width: 600px) {
    .form-section, .habilidades-section {
        width: 400px; 
    }
}
